/* Reset some defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* Center everything on screen */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

/* Container box */
.container {
  background: black;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
  text-align: center;
  width: 300px;
}

/* Heading */
.container p {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  color: yellow;
}

/* Input field */
.container input {
  width: 100%;
  padding: 102px;
  border: 1px solid yellow;
  border-radius: 8px;
  margin-bottom: 15px;
  outline: none;
  background: black;
  color: yellow;
}

/* Button */
.container button {
  background: black;
  color: yellow;
  border: 1px solid yellow;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s;
}

.container button:hover {
  background: yellow;
  color: black;
}

/* QR code display */
#qr-box {
  margin-top: 20px;
  padding: 10px;
}














